################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Tic Tac Toe/v15
/Tic Tac Toe/obj/x86/Debug/Tic Tac Toe.csproj.CoreCompileInputs.cache
/Tic Tac Toe/obj/x86/Debug/Tic Tac Toe.csprojAssemblyReference.cache
